.panel.movie
  .header.row
    .left
      %h3
        = link_to_unless_current movie.title, movie_path(movie)
    .right
      - if user_signed_in? and current_user == movie.user
        = link_to '[Edit]', edit_movie_path(movie)
  %h6
    Posted by
    - if user_signed_in? and movie.user == current_user
      = link_to 'You', user_movies_path(movie.user.id)
    - else
      = link_to movie.user.fullname, user_movies_path(movie.user.id)
    = time_ago_in_words movie.created_at
    ago

  .row
    .small-12.columns
      %p
        = simple_format movie.description
    .small-12.columns
      .movie-footer
        - if user_signed_in?
          - liked = false # flags to check if users has liked or hated a movie.
          - hated = false
          .left
            - # if this movie is current users movie show likes and hates with no link to vote
            - if movie.user == current_user # && movie.cached_votes_total > 0  uncomment this if we want to hide counter for 0 votes
              = pluralize(movie.cached_votes_up, 'like')
              = pluralize(movie.cached_votes_down, 'hate')
            - else # movie is not created by current user
              - if(movie.cached_votes_total == 0)    # if no votes yet be the first to vote
                Be the first one to vote this movie:
                = link_to 'like', like_movie_path(movie), method: :put
                = link_to 'hate', hate_movie_path(movie), method: :put
              - else # movie has some votes show likes and hates
                - if @current_user_movie_likes_ids.include?(movie.id)
                  - liked = true
                  - hated = false
                - elsif @current_user_movie_hates_ids.include?(movie.id)
                  - liked = false
                  - hated = true
                = link_to_if !liked, pluralize(movie.cached_votes_up, 'like'), like_movie_path(movie), method: :put
                = link_to_if !hated, pluralize(movie.cached_votes_down, 'hate'), hate_movie_path(movie), method: :put
          .right
            - if liked  # if current user has liked this movie
              You like this movie
              |
              = link_to 'Unlike', unvote_movie_path(movie), method: :put
            - elsif hated
              You hate this movie
              |
              = link_to 'Unhate', unvote_movie_path(movie), method: :put
        - else  # not signed in
          - if movie.cached_votes_total > 0
            = pluralize(movie.cached_votes_up, 'like')
            = pluralize(movie.cached_votes_down, 'hate')