.panel.movie
  .header.row
    .left.columns.small-12
      %h3
        = link_to_unless_current movie.title, movie_path(movie)
    .right
      = edit_movie_link movie
    %h6{style: 'margin-left: 10px; margin-top: 45px;'}
      Posted by
      = posted_by_link(movie)
      %span{style: "font-size: 85%"}
        = time_ago_in_words movie.created_at
        ago
    %hr
  .row
    .small-12.columns
      %p
        = simple_format movie.description
    .small-12.columns
      .movie-footer{class: "movie-#{movie.id}"}
        %hr
        - if user_signed_in?
          .left
            - # if this movie is current users movie show likes and hates with no link to vote
            - if movie.user == current_user # && movie.cached_votes_total > 0  uncomment this if we want to hide counter for 0 votes
              = pluralize(movie.cached_votes_up, 'like')
              = pluralize(movie.cached_votes_down, 'hate')
            - else # movie is not created by current user
              #votes
                - if(movie.cached_votes_total == 0)    # if no votes yet be the first to vote
                  %span#be-the-first
                    Be the first to vote this movie:
                  %span#likes
                    = link_to 'like', like_movie_path(movie), method: :put, remote: true
                  %span#hates
                    = link_to 'hate', hate_movie_path(movie), method: :put, remote: true
                - else # movie has some votes show likes and hates
                  - if @current_user_movie_likes_ids.include?(movie.id)   # if current user likes this movie
                    %span#hates
                    = pluralize(movie.cached_votes_up, 'like')
                    = link_to pluralize(movie.cached_votes_down, 'hate'), hate_movie_path(movie), method: :put, remote: true
                  - elsif @current_user_movie_hates_ids.include?(movie.id)  # if current user hates this movie
                    %span#likes
                    = link_to pluralize(movie.cached_votes_up, 'like'), like_movie_path(movie), method: :put, remote: true
                    = pluralize(movie.cached_votes_down, 'hate')
                  - else  # current user does not hate neither likes this movie
                    %span#likes
                    = link_to pluralize(movie.cached_votes_up, 'like'), like_movie_path(movie), method: :put, remote: true
                    %span#hates
                    = link_to pluralize(movie.cached_votes_down, 'hate'), hate_movie_path(movie), method: :put, remote: true
          .right#unvote
            %span#unvote-text
            - if @current_user_movie_likes_ids.include?(movie.id)  # if current user has liked this movie
              You like this movie
              |
              = link_to 'Unlike', unvote_movie_path(movie), method: :put, id: 'unvote-link', remote: true
            - elsif @current_user_movie_hates_ids.include?(movie.id)  # if has hated this movie
              You hate this movie
              |
              = link_to 'Unhate', unvote_movie_path(movie), method: :put, id: 'unvote-link', remote: true
        - else  # not signed in
          - if movie.cached_votes_total > 0
            = pluralize(movie.cached_votes_up, 'like')
            = pluralize(movie.cached_votes_down, 'hate')
