
= image_tag @movie.picture.url, size: '250x250' if @movie.picture?
= render @movie

= render partial: 'movies/star_ratings'

.recommendations{style: 'border-top: 2px solid #eee;'}
  - if @recommended_movies
    %h3 Recommended for You
    - @recommended_movies.each do |recommended|
      %h5
        = link_to recommended.title, movie_path(recommended.id)

.row
  .large-8.large-centered.columns
    %p.comments-count
      Comments:
      = @movie.comments.size

- if user_signed_in?
  = render partial: 'comments/form'
- else
  .row
    .large-12.large-centered.columns
      %p
        You must be logged in to leave a comment
.row
  .large-8.large-centered.columns
    .comments-list
      = nested_comments @comments
