
= image_tag @movie.picture.url, size: '250x250' if @movie.picture?
= render @movie

= render partial: 'movies/star_ratings'

.recommendations{style: 'border-top: 2px solid #eee; margin-top: 50px;'}
  - if user_signed_in?
    - if @recommended_movies.any?
      %h3 Recommended for You
      - @recommended_movies.each do |recommended|
        %h5
          = link_to recommended.title, movie_path(recommended.id)
    - else
      %h5 No recommendations for you yet
  - else
    %h3 Please sign in to start receiving recommedations for movies
.comments{style: 'margin-top: 50px;'}
  .row
    .large-8.large-centered.columns
      %h4
        Comments:
        = @movie.comments.size

- if user_signed_in?
  = render partial: 'comments/form'
- else
  .row
    .large-12.large-centered.columns
      %p
        You must be logged in to leave a comment
.row
  .large-8.large-centered.columns
    .comments-list
      = nested_comments @comments
