
= image_tag @movie.picture.url, size: '250x250' if @movie.picture?
= render @movie

.panel
  = render partial: 'movies/statistics'
  %hr
  = render partial: 'movies/star_ratings'


= render partial: 'movies/recommendations'



.comments.panel
  %h3
    Comments:
  - if user_signed_in?
    = render partial: 'comments/form'
  - else
    %p
      You must be logged in to leave a comment
  .row
    .large-8.large-centered.columns
      .comments-list
        = nested_comments @comments
