
= image_tag @movie.picture.url, size: '250x250' if @movie.picture?
= render @movie

.average-rating
  Average rating (
  %span#average-rating-score
    = @movie.average_rating
  )
#star

:javascript
  $('#star').raty({
    readOnly: true,
    score: "#{@movie.average_rating}",
    path: '/assets'
  });

- if user_signed_in?
  %p
  .user-rating
    Your rating
  #user_star

  - if @rating.new_record?
    :javascript
      $('#user_star').raty({
        score: "#{@rating.score}",
        path: '/assets',
        click: function(score, evt) {
          $.ajax({
            url: '/ratings/',
            type: 'POST',
            data: { score: score, movie_id: '#{@movie.id}' }
          });
        }
      });
  - else
    :javascript
      $('#user_star').raty({
        score: "#{@rating.score}",
        path: '/assets',
        click: function(score, evt) {
          $.ajax({
            url: '/ratings/' + "#{@rating.id}",
            type: 'PATCH',
            data: { score: score }
          });
        }
      });

.row
  .large-8.large-centered.columns
    %p.comments-count
      Comments:
      = @movie.comments.size

- if user_signed_in?
  = render partial: 'comments/form'
- else
  .row
    .large-12.large-centered.columns
      %p
        You must be logged in to leave a comment
.row
  .large-8.large-centered.columns
    .comments-list
      = nested_comments @comments
