= render @movie

%p Average rating
#star

:javascript
  $('#star').raty({
    readOnly: true,
    score: "#{@movie.average_rating}",
    path: '/assets'
  });

- if user_signed_in?
  %p Your rating
  #user_star

  :javascript
    $('#user_star').raty({
      score: "#{@rating.score}",
      path: '/assets',
      click: function(score, evt) {
        $.ajax({
          url: '/ratings/' + "#{@rating.id}",
          type: 'PATCH',
          data: { score: score }
        });
      }
    });

.row
  .large-8.large-centered.columns
    %p.comments-count
      Comments:
      = @movie.comments.size

- if user_signed_in?
  = render partial: 'comments/form'
- else
  .row
    .large-12.large-centered.columns
      %p
        You must be logged in to leave a comment
.row
  .large-8.large-centered.columns
    .comments-list
      = nested_comments @comments
