%footer
  .row
    .large-8.medium-8.small-12.small-centered.columns.right
      %ul.large-block-grid-6.medium-block-grid-6.small-block-grid-1
        %li= link_to 'FAQ', '#'
        %li= link_to 'TERMS', '#'
        %li= link_to 'PRIVACY', '#'
        %li= link_to 'CONTACT', '#'
        %li= link_to 'ABOUT', '#'
        %li= link_to 'CAREER', '#'
  .row
    .small-12.large-12.medium-12.small-centered.columns
      %p.small-text-center
        MovieRama © All rights reserved.