%footer
  .section4
    .row
      .large-8.medium-8.small-12.small-centered.columns
        %ul.large-block-grid-6.medium-block-grid-6.small-block-grid-1
          %li= link_to 'FAQ', 'faq_path'
          %li= link_to 'TERMS', 'terms_path'
          %li= link_to 'PRIVACY', 'privacy_path'
          %li= link_to 'CONTACT', 'contacts_general_path'
          %li= link_to 'ABOUT', 'about_path'
          %li= link_to 'CAREER', 'contacts_career_path'
  .row
    .small-12.large-12.medium-12.small-centered.columns
      %p.small-text-center
        App © All rights reserved.